/* Color Sceme:
amaranth-purple: #af1b3f; teal: #2CAFC9; cerulean: #316f83; vista-blue: #8390fa;
timberwolf: #dad3d2; sage: #CAC391; Charcoal: #3D5467; rich-black: #131b23;*/
body{
    background-color: #131B23;
    color: #DBD4D3;
}
.navbar_base{
    margin: 0;
    width: 100vw;
    height: 50px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    align-items: center;
    background-color: #131B23;
    border-bottom: #3D5467 2px solid;
    display: flex;
    flex-direction: row;
    padding: 20px 15px 20px 15px;
}
.navbar_items{
    margin: 5px 5px;
    font-size: 16px;
    text-decoration: none;
    border: #2CAFC9 2px solid;
    border-radius: 15px;
    padding: 5px 10px;
    color: #DBD4D3;
}
.navbar_items:hover{
    background-color: #3D5467;
    border: #CAC391 2px solid;
    color: #2CAFC9;
    font-size: 20px;
}

#title{
    color: #2CAFC9;
    font-size: 25px;
    border: none;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.social_media_items{
    font-size: 16px;
    text-decoration: none;
    border: #2CAFC9 2px solid;
    border-radius: 15px;
    color: #DBD4D3;
    margin-left: auto;
}

.Base_card{
   display: grid;
   grid-template-columns: 80% auto;
}

.Background_image{
    width: 100%;
    height: 50%;
}

.Title_card{
    background-color: #131B23;
    color: #2CAFC9;
    text-align: center;
}
.Title_card > h1{
    margin: 10px 30px;
    font-size: 20px;
}
.Title_card > h2{
    margin: auto;
    font-size: 20px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
.Info_card{
    background-color: #131B23;
    color: #DBD4D3;
    border: #3D5467 2px solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}
.social_media_items{
    font-size: 25px;
}
.Contact_form{
    background-color: #131B23;
    color: #CAC391;
    border: #2CAFC9 2px solid;
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
input[type="text"], textarea {
  background-color : #DAD3D2; 
}

@media screen and (min-width: 601px) {
    #navbar_home{
        margin-left: 5%;
    }
    #navbar_right{
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    #navbar_home{
        margin-left: 5%;
    }
    #navbar_right{
        margin-left: auto;
    }
}

.Info_card{
    border: 2px solid #2CAFC9;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}